@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
@if (!Model.Any())
{
    <p>No tenemos ningún cliente aun</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Tipo de membresia</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers",new{id = customer.Id}, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
